{% extends 'base.html' %}
{% block body %}

<h1>DBQ</h1>
DBQ Questions here
<div class="mx-auto w-75">
  <form action="/thank_you" method="POST">
    <input type="hidden" value={{email}} name="Email">
    <div>
        <label>Asks too many questions about you.</label><br>
        <input type="radio" id="fname" name="one" value="5">
        <label for="one">Strongly agree</label><br>
        <input type="radio" id="fname" name="one" value="4">
        <label for="one">Agree</label><br>
        <input type="radio" id="fname" name="one" value="3">
        <label for="one">Neutral</label><br>
        <input type="radio" id="fname" name="one" value="2">
        <label for="one">Disagree</label><br>
        <input type="radio" id="fname" name="one" value="1">
        <label for="one">Strongly disagree</label><br>
    </div>
    <div>
        <label>Looks unkept or disheveled.</label><br>
        <input type="radio" id="fname" name="two" value="5">
        <label for="one">Strongly agree</label><br>
        <input type="radio" id="fname" name="two" value="4">
        <label for="one">Agree</label><br>
        <input type="radio" id="fname" name="two" value="3">
        <label for="one">Neutral</label><br>
        <input type="radio" id="fname" name="two" value="2">
        <label for="one">Disagree</label><br>
        <input type="radio" id="fname" name="two" value="1">
        <label for="one">Strongly disagree</label><br>
    </div>
    <div>
        <label>Doesn't remember things that you mentioned earlier in the date.</label><br>
        <input type="radio" id="fname" name="three" value="5">
        <label for="one">Strongly agree</label><br>
        <input type="radio" id="fname" name="three" value="4">
        <label for="one">Agree</label><br>
        <input type="radio" id="fname" name="three" value="3">
        <label for="one">Neutral</label><br>
        <input type="radio" id="fname" name="three" value="2">
        <label for="one">Disagree</label><br>
        <input type="radio" id="fname" name="three" value="1">
        <label for="one">Strongly disagree</label><br>
    </div>
    <div>
        <label>Talks too little in the conversation, such that you are doing most of the talking.</label><br>
        <input type="radio" id="fname" name="four" value="5">
        <label for="one">Strongly agree</label><br>
        <input type="radio" id="fname" name="four" value="4">
        <label for="one">Agree</label><br>
        <input type="radio" id="fname" name="four" value="3">
        <label for="one">Neutral</label><br>
        <input type="radio" id="fname" name="four" value="2">
        <label for="one">Disagree</label><br>
        <input type="radio" id="fname" name="four" value="1">
        <label for="one">Strongly disagree</label><br>
    </div>
    <div>
        <label>Ends the date without any physical touch (eg. hug, goodnight kiss)</label><br>
        <input type="radio" id="fname" name="five" value="5">
        <label for="one">Strongly agree</label><br>
        <input type="radio" id="fname" name="five" value="4">
        <label for="one">Agree</label><br>
        <input type="radio" id="fname" name="five" value="3">
        <label for="one">Neutral</label><br>
        <input type="radio" id="fname" name="five" value="2">
        <label for="one">Disagree</label><br>
        <input type="radio" id="fname" name="five" value="1">
        <label for="one">Strongly disagree</label><br>
    </div>
    <div>
        <label>Makes unusual eye contact with you (eg. looks at you out of the corner of his eye).</label><br>
        <input type="radio" id="fname" name="six" value="5">
        <label for="one">Strongly agree</label><br>
        <input type="radio" id="fname" name="six" value="4">
        <label for="one">Agree</label><br>
        <input type="radio" id="fname" name="six" value="3">
        <label for="one">Neutral</label><br>
        <input type="radio" id="fname" name="six" value="2">
        <label for="one">Disagree</label><br>
        <input type="radio" id="fname" name="six" value="1">
        <label for="one">Strongly disagree</label><br>
    </div>
    <div>
        <label>Orients his body in a direction away from you.</label><br>
        <input type="radio" id="fname" name="seven" value="5">
        <label for="one">Strongly agree</label><br>
        <input type="radio" id="fname" name="seven" value="4">
        <label for="one">Agree</label><br>
        <input type="radio" id="fname" name="seven" value="3">
        <label for="one">Neutral</label><br>
        <input type="radio" id="fname" name="seven" value="2">
        <label for="one">Disagree</label><br>
        <input type="radio" id="fname" name="seven" value="1">
        <label for="one">Strongly disagree</label><br>
    </div>
    <div>
        <label>Has repetitive motor movements throughout the date (eg. lots of blinking, tapping
            fingers)</label><br>
        <input type="radio" id="fname" name="eight" value="5">
        <label for="one">Strongly agree</label><br>
        <input type="radio" id="fname" name="eight" value="4">
        <label for="one">Agree</label><br>
        <input type="radio" id="fname" name="eight" value="3">
        <label for="one">Neutral</label><br>
        <input type="radio" id="fname" name="eight" value="2">
        <label for="one">Disagree</label><br>
        <input type="radio" id="fname" name="eight" value="1">
        <label for="one">Strongly disagree</label><br>
    </div>
    <div>
        <label>Has a tone of voice that is too negative (eg. sad, angry, fearful)
        </label><br>
        <input type="radio" id="fname" name="nine" value="5">
        <label for="one">Strongly agree</label><br>
        <input type="radio" id="fname" name="nine" value="4">
        <label for="one">Agree</label><br>
        <input type="radio" id="fname" name="nine" value="3">
        <label for="one">Neutral</label><br>
        <input type="radio" id="fname" name="nine" value="2">
        <label for="one">Disagree</label><br>
        <input type="radio" id="fname" name="nine" value="1">
        <label for="one">Strongly disagree</label><br>
    </div>
    <div>
        <label>Seems very sensitive to loud noises, strong smells, or bright lights throughout the date.
        </label><br>
        <input type="radio" id="fname" name="ten" value="5">
        <label for="one">Strongly agree</label><br>
        <input type="radio" id="fname" name="ten" value="4">
        <label for="one">Agree</label><br>
        <input type="radio" id="fname" name="ten" value="3">
        <label for="one">Neutral</label><br>
        <input type="radio" id="fname" name="ten" value="2">
        <label for="one">Disagree</label><br>
        <input type="radio" id="fname" name="ten" value="1">
        <label for="one">Strongly disagree</label><br>
    </div>
    <div>
        <label>Mismatches verbal and nonverbal communication cues (eg. smiling while talking about something sad ).
        </label><br>
        <input type="radio" id="fname" name="eleven" value="5">
        <label for="one">Strongly agree</label><br>
        <input type="radio" id="fname" name="eleven" value="4">
        <label for="one">Agree</label><br>
        <input type="radio" id="fname" name="eleven" value="3">
        <label for="one">Neutral</label><br>
        <input type="radio" id="fname" name="eleven" value="2">
        <label for="one">Disagree</label><br>
        <input type="radio" id="fname" name="eleven" value="1">
        <label for="one">Strongly disagree</label><br>
    </div>

    <div>
        <label>Doesn't show active listening behaviours while you are talking (eg., nodding, saying "mmhmm")
        </label><br>
        <input type="radio" id="fname" name="twelve" value="5">
        <label for="one">Strongly agree</label><br>
        <input type="radio" id="fname" name="twelve" value="4">
        <label for="one">Agree</label><br>
        <input type="radio" id="fname" name="twelve" value="3">
        <label for="one">Neutral</label><br>
        <input type="radio" id="fname" name="twelve" value="2">
        <label for="one">Disagree</label><br>
        <input type="radio" id="fname" name="twelve" value="1">
        <label for="one">Strongly disagree</label><br>
    </div>
    <div>
        <label>Is dressed too formally or fancy for the date.
        </label><br>
        <input type="radio" id="fname" name="thirteen" value="5">
        <label for="one">Strongly agree</label><br>
        <input type="radio" id="fname" name="thirteen" value="4">
        <label for="one">Agree</label><br>
        <input type="radio" id="fname" name="thirteen" value="3">
        <label for="one">Neutral</label><br>
        <input type="radio" id="fname" name="thirteen" value="2">
        <label for="one">Disagree</label><br>
        <input type="radio" id="fname" name="thirteen" value="1">
        <label for="one">Strongly disagree</label><br>
    </div>
    <div>
        <label>Chats about conversation topics that don’t interest you.
        </label><br>
        <input type="radio" id="fname" name="fourteen" value="5">
        <label for="one">Strongly agree</label><br>
        <input type="radio" id="fname" name="fourteen" value="4">
        <label for="one">Agree</label><br>
        <input type="radio" id="fname" name="fourteen" value="3">
        <label for="one">Neutral</label><br>
        <input type="radio" id="fname" name="fourteen" value="2">
        <label for="one">Disagree</label><br>
        <input type="radio" id="fname" name="fourteen" value="1">
        <label for="one">Strongly disagree</label><br>
    </div>
    <div>
        <label>Does not compliment you during the date.
        </label><br>
        <input type="radio" id="fname" name="fifteen" value="5">
        <label for="one">Strongly agree</label><br>
        <input type="radio" id="fname" name="fifteen" value="4">
        <label for="one">Agree</label><br>
        <input type="radio" id="fname" name="fifteen" value="3">
        <label for="one">Neutral</label><br>
        <input type="radio" id="fname" name="fifteen" value="2">
        <label for="one">Disagree</label><br>
        <input type="radio" id="fname" name="fifteen" value="1">
        <label for="one">Strongly disagree</label><br>
    </div>
    <div>
        <label>Chats about conversation topics that are too superficial, making it difficult to get to know one another.
        </label><br>
        <input type="radio" id="fname" name="sixteen" value="5">
        <label for="one">Strongly agree</label><br>
        <input type="radio" id="fname" name="sixteen" value="4">
        <label for="one">Agree</label><br>
        <input type="radio" id="fname" name="sixteen" value="3">
        <label for="one">Neutral</label><br>
        <input type="radio" id="fname" name="sixteen" value="2">
        <label for="one">Disagree</label><br>
        <input type="radio" id="fname" name="sixteen" value="1">
        <label for="one">Strongly disagree</label><br>
    </div>
    <div>
        <label>Has a facial expression that is too flat.
        </label><br>
        <input type="radio" id="fname" name="seventeen" value="5">
        <label for="one">Strongly agree</label><br>
        <input type="radio" id="fname" name="seventeen" value="4">
        <label for="one">Agree</label><br>
        <input type="radio" id="fname" name="seventeen" value="3">
        <label for="one">Neutral</label><br>
        <input type="radio" id="fname" name="seventeen" value="2">
        <label for="one">Disagree</label><br>
        <input type="radio" id="fname" name="seventeen" value="1">
        <label for="one">Strongly disagree</label><br>
    </div>
    <div>
        <label>Seems to forget your name while on the date.
        </label><br>
        <input type="radio" id="fname" name="eighteen" value="5">
        <label for="one">Strongly agree</label><br>
        <input type="radio" id="fname" name="eighteen" value="4">
        <label for="one">Agree</label><br>
        <input type="radio" id="fname" name="eighteen" value="3">
        <label for="one">Neutral</label><br>
        <input type="radio" id="fname" name="eighteen" value="2">
        <label for="one">Disagree</label><br>
        <input type="radio" id="fname" name="eighteen" value="1">
        <label for="one">Strongly disagree</label><br>
    </div>
    <div>
        <label>Is dressed too casually or laid-back for the date.
        </label><br>
        <input type="radio" id="fname" name="nineteen" value="5">
        <label for="one">Strongly agree</label><br>
        <input type="radio" id="fname" name="nineteen" value="4">
        <label for="one">Agree</label><br>
        <input type="radio" id="fname" name="nineteen" value="3">
        <label for="one">Neutral</label><br>
        <input type="radio" id="fname" name="nineteen" value="2">
        <label for="one">Disagree</label><br>
        <input type="radio" id="fname" name="nineteen" value="1">
        <label for="one">Strongly disagree</label><br>
    </div>
    <div>
        <label>Makes comments that are too blunt, direct, or critical toward you during the date.
        </label><br>
        <input type="radio" id="fname" name="twenty" value="5">
        <label for="one">Strongly agree</label><br>
        <input type="radio" id="fname" name="twenty" value="4">
        <label for="one">Agree</label><br>
        <input type="radio" id="fname" name="twenty" value="3">
        <label for="one">Neutral</label><br>
        <input type="radio" id="fname" name="twenty" value="2">
        <label for="one">Disagree</label><br>
        <input type="radio" id="fname" name="twenty" value="1">
        <label for="one">Strongly disagree</label><br>
    </div>
    <div>
        <label>Interrupts you while you are talking.
        </label><br>
        <input type="radio" id="fname" name="twentyone" value="5">
        <label for="one">Strongly agree</label><br>
        <input type="radio" id="fname" name="twentyone" value="4">
        <label for="one">Agree</label><br>
        <input type="radio" id="fname" name="twentyone" value="3">
        <label for="one">Neutral</label><br>
        <input type="radio" id="fname" name="twentyone" value="2">
        <label for="one">Disagree</label><br>
        <input type="radio" id="fname" name="twentyone" value="1">
        <label for="one">Strongly disagree</label><br>
    </div>
    <div>
        <label>Has a closed upper body (e.g., few or no hand gestures, arms crossed).
        </label><br>
        <input type="radio" id="fname" name="twentytwo" value="5">
        <label for="one">Strongly agree</label><br>
        <input type="radio" id="fname" name="twentytwo" value="4">
        <label for="one">Agree</label><br>
        <input type="radio" id="fname" name="twentytwo" value="3">
        <label for="one">Neutral</label><br>
        <input type="radio" id="fname" name="twentytwo" value="2">
        <label for="one">Disagree</label><br>
        <input type="radio" id="fname" name="twentytwo" value="1">
        <label for="one">Strongly disagree</label><br>
    </div>

    <input type="submit" value="Submit">
</form>
    </div>


{% endblock body %}