{% extends 'base.html' %}
{% block body %}

<h1>Questionnaire</h1>
PLease answer the below questions
<div class="mx-auto w-75">
  <form action="/thank_you" method="POST">
    <input type="hidden" value={{email}} name="Email">
    <div>
        <label>The character "Sheldon" in Big Bang Theory is an accurate portrayal of an autistic person.</label><br>
        <input type="radio" id="fname" name="one" value="2">
        <label for="one">True</label><br>
        <input type="radio" id="fname" name="one" value="3">
        <label for="one">Somewhat true</label><br>
        <input type="radio" id="fname" name="one" value="1">
        <label for="one">I don't know</label><br>
        <input type="radio" id="fname" name="one" value="0">
        <label for="one">Not true</label><br>
    </div>
    <div>
        <label>Movies such as "Rainman" show an accurate depiction of all autistic people</label><br>
        <input type="radio" id="fname" name="two" value="0">
        <label for="one">True</label><br>
        <input type="radio" id="fname" name="two" value="2">
        <label for="one">Somewhat true</label><br>
        <input type="radio" id="fname" name="two" value="1">
        <label for="one">I don't know</label><br>
        <input type="radio" id="fname" name="two" value="3">
        <label for="one">Not true</label><br>
    </div>
    <div>
        <label>Autistic people are eternally childlike.</label><br>
        <input type="radio" id="fname" name="three" value="0">
        <label for="one">True</label><br>
        <input type="radio" id="fname" name="three" value="2">
        <label for="one">Somewhat true</label><br>
        <input type="radio" id="fname" name="three" value="1">
        <label for="one">I don't know</label><br>
        <input type="radio" id="fname" name="three" value="3">
        <label for="one">Not true</label><br>
    </div>
    <div>
        <label>Autism is described in the news in a balanced way.</label><br>
        <input type="radio" id="fname" name="four" value="0">
        <label for="one">True</label><br>
        <input type="radio" id="fname" name="four" value="2">
        <label for="one">Somewhat true</label><br>
        <input type="radio" id="fname" name="four" value="1">
        <label for="one">I don't know</label><br>
        <input type="radio" id="fname" name="four" value="3">
        <label for="one">Not true</label><br>
    </div>
    <div>
        <label>You can tell a person is autistic by looking at them.</label><br>
        <input type="radio" id="fname" name="five" value="0">
        <label for="one">True</label><br>
        <input type="radio" id="fname" name="five" value="2">
        <label for="one">Somewhat true</label><br>
        <input type="radio" id="fname" name="five" value="1">
        <label for="one">I don't know</label><br>
        <input type="radio" id="fname" name="five" value="3">
        <label for="one">Not true</label><br>
    </div>
    <div>
        <label>Vaccines do not cause autism.</label><br>
        <input type="radio" id="fname" name="six" value="3">
        <label for="one">True</label><br>
        <input type="radio" id="fname" name="six" value="2">
        <label for="one">Somewhat true</label><br>
        <input type="radio" id="fname" name="six" value="1">
        <label for="one">I don't know</label><br>
        <input type="radio" id="fname" name="six" value="0">
        <label for="one">Not true</label><br>
    </div>
    <div>
        <label>Autistic people can choose what behaviours they display in public.</label><br>
        <input type="radio" id="fname" name="seven" value="2">
        <label for="one">True</label><br>
        <input type="radio" id="fname" name="seven" value="3">
        <label for="one">Somewhat true</label><br>
        <input type="radio" id="fname" name="seven" value="1">
        <label for="one">I don't know</label><br>
        <input type="radio" id="fname" name="seven" value="0">
        <label for="one">Not true</label><br>
    </div>
    <div>
        <label>Autistic people experience emotions differently to people who do not have autism.</label><br>
        <input type="radio" id="fname" name="eight" value="0">
        <label for="one">True</label><br>
        <input type="radio" id="fname" name="eight" value="2">
        <label for="one">Somewhat true</label><br>
        <input type="radio" id="fname" name="eight" value="1">
        <label for="one">I don't know</label><br>
        <input type="radio" id="fname" name="eight" value="3">
        <label for="one">Not true</label><br>
    </div>
    <div>
        <label>Autistic people do not understand sarcasm in jokes and can take them literally.</label><br>
        <input type="radio" id="fname" name="nine" value="2">
        <label for="one">True</label><br>
        <input type="radio" id="fname" name="nine" value="3">
        <label for="one">Somewhat true</label><br>
        <input type="radio" id="fname" name="nine" value="1">
        <label for="one">I don't know</label><br>
        <input type="radio" id="fname" name="nine" value="0">
        <label for="one">Not true</label><br>
    </div>
    <div>
        <label>Autistic people can learn to become less sensitive to stimuli such as noise, touch and smell.</label><br>
        <input type="radio" id="fname" name="ten" value="0">
        <label for="one">True</label><br>
        <input type="radio" id="fname" name="ten" value="2">
        <label for="one">Somewhat true</label><br>
        <input type="radio" id="fname" name="ten" value="1">
        <label for="one">I don't know</label><br>
        <input type="radio" id="fname" name="ten" value="3">
        <label for="one">Not true</label><br>
    </div>
    <div>
        <label>Autistic people have difficulty understanding what to do in social situations.</label><br>
        <input type="radio" id="fname" name="eleven" value="3">
        <label for="one">True</label><br>
        <input type="radio" id="fname" name="eleven" value="2">
        <label for="one">Somewhat true</label><br>
        <input type="radio" id="fname" name="eleven" value="1">
        <label for="one">I don't know</label><br>
        <input type="radio" id="fname" name="eleven" value="0">
        <label for="one">Not true</label><br>
    </div>
    <div>
        <label>Autism is a stable condition that does not vary from day to day.</label><br>
        <input type="radio" id="fname" name="tweleve" value="0">
        <label for="one">True</label><br>
        <input type="radio" id="fname" name="tweleve" value="2">
        <label for="one">Somewhat true</label><br>
        <input type="radio" id="fname" name="tweleve" value="1">
        <label for="one">I don't know</label><br>
        <input type="radio" id="fname" name="tweleve" value="3">
        <label for="one">Not true</label><br>
    </div>
    <div>
        <label>Autism never occurs in adults.</label><br>
        <input type="radio" id="fname" name="thirteen" value="0">
        <label for="one">True</label><br>
        <input type="radio" id="fname" name="thirteen" value="2">
        <label for="one">Somewhat true</label><br>
        <input type="radio" id="fname" name="thirteen" value="1">
        <label for="one">I don't know</label><br>
        <input type="radio" id="fname" name="thirteen" value="3">
        <label for="one">Not true</label><br>
    </div>
    <div>
        <label>Autistic people are sensitive to certain stimuli such as noise, touch and smell.</label><br>
        <input type="radio" id="fname" name="fourteen" value="2">
        <label for="one">True</label><br>
        <input type="radio" id="fname" name="fourteen" value="3">
        <label for="one">Somewhat true</label><br>
        <input type="radio" id="fname" name="fourteen" value="1">
        <label for="one">I don't know</label><br>
        <input type="radio" id="fname" name="fourteen" value="0">
        <label for="one">Not true</label><br>
    </div>
    <div>
        <label>All autistic people have intellectual disability.</label><br>
        <input type="radio" id="fname" name="fifteen" value="0">
        <label for="one">True</label><br>
        <input type="radio" id="fname" name="fifteen" value="2">
        <label for="one">Somewhat true</label><br>
        <input type="radio" id="fname" name="fifteen" value="1">
        <label for="one">I don't know</label><br>
        <input type="radio" id="fname" name="fifteen" value="3">
        <label for="one">Not true</label><br>
    </div>
    <div>
        <label>Autism has a range of symptoms and severities.</label><br>
        <input type="radio" id="fname" name="sixteen" value="3">
        <label for="one">True</label><br>
        <input type="radio" id="fname" name="sixteen" value="2">
        <label for="one">Somewhat true</label><br>
        <input type="radio" id="fname" name="sixteen" value="1">
        <label for="one">I don't know</label><br>
        <input type="radio" id="fname" name="sixteen" value="0">
        <label for="one">Not true</label><br>
    </div>
    <div>
        <label>Autism only occurs in children.</label><br>
        <input type="radio" id="fname" name="seventeen" value="0">
        <label for="one">True</label><br>
        <input type="radio" id="fname" name="seventeen" value="2">
        <label for="one">Somewhat true</label><br>
        <input type="radio" id="fname" name="seventeen" value="1">
        <label for="one">I don't know</label><br>
        <input type="radio" id="fname" name="seventeen" value="3">
        <label for="one">Not true</label><br>
    </div>
    <div>
        <label>All autistic people have a genius level of intellect.</label><br>
        <input type="radio" id="fname" name="eighteen" value="0">
        <label for="one">True</label><br>
        <input type="radio" id="fname" name="eighteen" value="2">
        <label for="one">Somewhat true</label><br>
        <input type="radio" id="fname" name="eighteen" value="1">
        <label for="one">I don't know</label><br>
        <input type="radio" id="fname" name="eighteen" value="3">
        <label for="one">Not true</label><br>
    </div>
    <div>
        <label>All autistic people have the same strengths.</label><br>
        <input type="radio" id="fname" name="nineteen" value="0">
        <label for="one">True</label><br>
        <input type="radio" id="fname" name="nineteen" value="2">
        <label for="one">Somewhat true</label><br>
        <input type="radio" id="fname" name="nineteen" value="1">
        <label for="one">I don't know</label><br>
        <input type="radio" id="fname" name="nineteen" value="3">
        <label for="one">Not true</label><br>
    </div>
    <div>
        <label>All autistic people have the same challenges.</label><br>
        <input type="radio" id="fname" name="twenty" value="0">
        <label for="one">True</label><br>
        <input type="radio" id="fname" name="twenty" value="2">
        <label for="one">Somewhat true</label><br>
        <input type="radio" id="fname" name="twenty" value="1">
        <label for="one">I don't know</label><br>
        <input type="radio" id="fname" name="twenty" value="3">
        <label for="one">Not true</label><br>
    </div>
    <div>
        <label>The level of support required by autistic people does not change with age.</label><br>
        <input type="radio" id="fname" name="twenty_one" value="0">
        <label for="one">True</label><br>
        <input type="radio" id="fname" name="twenty_one" value="2">
        <label for="one">Somewhat true</label><br>
        <input type="radio" id="fname" name="twenty_one" value="1">
        <label for="one">I don't know</label><br>
        <input type="radio" id="fname" name="twenty_one" value="3">
        <label for="one">Not true</label><br>
    </div>
    <div>
        <label>Autistic people can be employed in competitive paying jobs.</label><br>
        <input type="radio" id="fname" name="twenty__two" value="3">
        <label for="one">True</label><br>
        <input type="radio" id="fname" name="twenty_two" value="2">
        <label for="one">Somewhat true</label><br>
        <input type="radio" id="fname" name="twenty_two" value="1">
        <label for="one">I don't know</label><br>
        <input type="radio" id="fname" name="twenty_two" value="0">
        <label for="one">Not true</label><br>
    </div>
    <div>
    <input type="submit" value="Submit">
</form>
    </div>


{% endblock body %}