{% extends 'base.html' %}
{% block body %}

<div>
    <form action="/halt_screen" method="POST" class="mx-auto t-5 w-75" >
        <div class="mb-3">
          <input type="hidden" value={{email}} name="Email">
          <div>
            <label><h3>Based on the profile, did you notice a diagnostic label of autism?</h3>
            </label><br>
            <input type="radio" id="fname" name="autism" value="1">
            <label for="one">Yes</label><br>
            <input type="radio" id="fname" name="autism" value="0">
            <label for="one">No</label><br>
        </div>
        </div>
        <input type="submit" value="Submit">
      </form>
    </div>


{% endblock body %}